name: CI build

on:
  workflow_dispatch:
  push:
    branches: [ "master", "testing" ]
  pull_request:
    branches: [ "master", "testing" ]

permissions:
  contents: write

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
              name: "Windows x86-64-v3",
              os: windows-latest,
              generators: "Ninja",
              msvc_arch: x64,
              c_compiler: clang,
              cpp_compiler: clang++,
              march: "x86-64-v3"
            }
          - {
              name: "Linux x86-64-v3",
              os: ubuntu-latest,
              c_compiler: clang,
              cpp_compiler: clang++,
              march: "x86-64-v3"
            }
          - {
              name: "macOS ARM64",
              os: macos-latest,
              c_compiler: clang,
              cpp_compiler: clang++,
              osx_arch: arm64
            }
    env:
      CMAKE_GENERATOR: "${{ matrix.config.generators }}"
    steps:
    - uses: actions/checkout@v6
      with: 
        fetch-tags: true
    - uses: ilammy/setup-nasm@v1
    - uses: KyleMayes/install-llvm-action@v2
      with:
        version: "21"
    - name: Windows build
      if: contains( matrix.config.os, 'windows' )
      run: |
        set CC=${{ matrix.config.c_compiler }}
        set CXX=${{ matrix.config.cpp_compiler }}
        cmake --fresh -B svt_build -G Ninja -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -DSVT_AV1_LTO=OFF -DENABLE_AVX512=ON -DCMAKE_C_FLAGS_RELEASE="-flto -march=${{ matrix.config.march }} -O2 -DNDEBUG" -DCMAKE_CXX_FLAGS_RELEASE="-flto -march=${{ matrix.config.march }} -O2 -DNDEBUG"
        ninja -C svt_build
      shell: cmd
    - name: Ubuntu build
      if: contains( matrix.config.os, 'ubuntu' )
      run: |
        cmake --fresh -B svt_build -DCMAKE_BUILD_TYPE=Release "-DCMAKE_CXX_COMPILER=${{ matrix.config.cpp_compiler }}" "-DCMAKE_C_COMPILER=${{ matrix.config.c_compiler }}" -DBUILD_SHARED_LIBS=OFF -DSVT_AV1_LTO=OFF -DENABLE_AVX512=ON "-DCMAKE_C_FLAGS_RELEASE=-flto -march=${{ matrix.config.march }} -O3 -DNDEBUG" "-DCMAKE_CXX_FLAGS_RELEASE=-flto -march=${{ matrix.config.march }} -O3 -DNDEBUG"
        cmake --build svt_build --config Release
      shell: bash
    - name: macOS build
      if: contains( matrix.config.os, 'macos' )
      run: |
        cmake --fresh -B svt_build -DCMAKE_BUILD_TYPE=Release "-DCMAKE_CXX_COMPILER=${{ matrix.config.cpp_compiler }}" "-DCMAKE_C_COMPILER=${{ matrix.config.c_compiler }}" -DBUILD_SHARED_LIBS=OFF -DSVT_AV1_LTO=OFF -DENABLE_AVX512=OFF -DCMAKE_C_FLAGS_RELEASE="-O3 -DNDEBUG" -DCMAKE_CXX_FLAGS_RELEASE="-O3 -DNDEBUG" "-DCMAKE_OSX_ARCHITECTURES=${{ matrix.config.osx_arch }}"
        cmake --build svt_build --config Release
      shell: bash
    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.config.name }}
        path: Bin/Release/SvtAv1EncApp*
        retention-days: 90